{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1 class="text-primary">Liste des catégories</h1>
		<ul>
			{% for category in categories %}
				<a href="{{ path("category_show", { categoryName: category.name }) }}">
					<li>{{ category.name }}</li>
				</a>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
