{% extends 'base.html.twig' %}

{% block title %}Show serie
{% endblock %}


{% block body %}

	<h1 class="text-primary">program
		{{ id }}
	</h1>
	<img src="{{ asset('build/images/buffyfaith.webp') }}" alt="buffy and faith"/>

{% endblock %}
